<?xml version="1.0"?>
<config>
    <modules>
        <Iscander_Payway>
            <version>0.1.0</version>
        </Iscander_Payway>
    </modules>
    <global>
        <models>
            <payway>
                <class>Iscander_Payway_Model</class>
            </payway>
        </models> 
        <resources>
            <payway_setup>
                <setup>
                    <module>Iscander_Payway</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payway_setup>
            <payway_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </payway_write>
            <payway_read>
               <connection>
                <use>core_read</use>
              </connection>
            </payway_read>
        </resources>       
        <blocks>
            <payway>
                <class>Iscander_Payway_Block</class>
            </payway>
        </blocks>
        <helpers>
            <payway>
                <class>Iscander_Payway_Helper</class>
            </payway>
        </helpers>
    </global>
    <frontend>
        <routers>
            <payway>
                <use>standard</use>
                <args>
                    <module>Iscander_Payway</module>
                    <frontName>payway</frontName>
                </args>
            </payway>
        </routers>
    </frontend>      
    <!--<adminhtml>-->
        <!--<acl>-->
            <!--<resources>-->
                <!--<admin>-->
                    <!--<children>-->
                        <!--<system>-->
                            <!--<children>-->
                                <!--<config>-->
                                    <!--<children>-->
                                        <!--<payway>-->
                                            <!--<title>Iscander Area</title>-->
                                        <!--</payway>-->
                                    <!--</children>-->
                                <!--</config>-->
                            <!--</children>-->
                        <!--</system>-->
                    <!--</children>-->
                <!--</admin>-->
            <!--</resources>-->
        <!--</acl>-->
    <!--</adminhtml> -->
    <default>
        <payment>
            <payway>
                <active>1</active>				
               	<model>payway/payway</model>
               	<title>WebPay</title>
                <wsd_storeid>377914715</wsd_storeid>
                <wsd_store>Точка</wsd_store>
                <mode>0</mode>
                <debug_flag>1</debug_flag>
                <wsb_currency_id>BYR</wsb_currency_id>
                <wsb_signature>392f4f772e</wsb_signature>
            </payway>
        </payment>
    </default>	   
</config>